#container {
    width: 200px;
    height: 200px;
    background: grey;
    position: relative;
    
}
#box {
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    box-shadow: teal;
    box-shadow: inset 5em 1em gold;

}
